{% extends "/views/base.html" %} 

{% block title %} Photo.share - Image Gallery {% endblock %}

{% block content %}
<hr>

<table cellspacing="20" cellpadding="3" align="center">
  <tr>
    {% set num_photos = 0 %}
   
    {% for photo in photos %}
      {# Display the picture #}
      <td border="0" style="border: 1px solid cyan">
        <a href="slideshow?img_id={{ photo.key.id() }}">
          <img src="img?resolution=low&img_id={{ photo.key.id() }}"/>
        </a>
   
        {% if photo.description %}
          {{ photo.description }}
        {% endif %}
      </td>
   
      {% set num_photos = num_photos + 1 %}
   
      {# Start a new line, if necessary #}
      {% if num_photos == num_photos_per_line %}
        {% set num_photos = 0 %}
      </tr>
      <tr>
      {% endif %}
    {% endfor %}
  </tr>
</table>

<hr>
{% endblock %}
